.header {
  @apply fixed flex w-full justify-end p-2.5;
  box-sizing: border-box;
  z-index: 1;
  mix-blend-mode: difference;

  .button {
    @apply relative flex cursor-pointer flex-col gap-3 rounded-full p-[30px];

    .line {
      @apply block h-0.5 w-8 rounded-full transition-all duration-300;
      mix-blend-mode: difference;
      background-color: white;

      &.active {
        &:nth-child(1) {
          @apply translate-y-[.42rem] rotate-45;
        }

        &:nth-child(2) {
          @apply -translate-y-[.42rem] -rotate-45;
        }
      }
    }
  }
}
